*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix   {
    content: '';
    display: table;
    clear: both;
}

.container  {
    width: 1080px;
    height: 100%;
    margin: auto;
    font-family: 'Lato', sans-serif;
}


/* HEADER TOP */
.header-top {
    width: 100%;
    height: 80px;
    background-color: #F5F8FA;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #CBD6E2;
}

.top-left   {
    height: 100%;
    display: inline-block;
    padding: 30px 0;

}


.top-left  span {
    font-size: 16px;
    color: #33475b;

}

.top-right  {
    float:right;
    height: 100%;
    /* width: 40%;
    background-color: red; */
    text-align: right;
    padding: 30px 0;
}

.search {
    color: #00A4BD;
    margin-right: 15px;
}

.top-right a {
    margin-left: 20px;
}
.btn {
    padding: 15px 35px;
    border-radius: 5px;
    border: 1px solid #FF7A59;
    color: #FF7A59;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
}

.btn-full {
    background-color: #FF7A59;
    color: white;
    padding: 15px;
}

/* HEADER BOTTOM */
.header-bottom  {
    height: 80px;
    background-color: white;
    margin-top: 80px;

}

.bottom-left   {
    float: left;
    padding: 25px 0;
}

.bottom-right   {
    float: right;

}

#main-menu li {
    display: inline-block;
    padding: 30px 20px;
    color: #33475b;
}

#main-menu li a  {
    text-decoration: none;

}

/* JUMBOTRON */
#jumbo  {
    background-image: url("img/jumbobackground.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.box-jumbo  {
    width: 35%;
    padding-top: 50px;

}

.box-jumbo h1   {
    color: #33475b;
    font-size: 50px;
    margin: 20px 0;
}

.box-jumbo :last-child  {
    font-size: 15px;
    color: #33475b;
    padding-right: 150px;
    margin-top: 50px;
}

.jumbo-box :nth-of-type(1) {
    padding: 40px;
}

.jumbo-box p {
    color: #33475b;
}

#marketing  {
    color: #33475b;
    font-size: 18px;
    margin-bottom: 20px;
}

#jumbo-button   {

        padding: 15px 35px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        background-color: #FF7A59;
        color: white;
        padding: 25px;
}

/* SEZIONE POWERFUL ALONE */

#powerful   {
    background-color: #F5F8FA;
    height: 800px;
}

.text-box    {
    width: 30%;
    float: left;
    margin-top: 60px;
}

.panel1 {
    width: 70%;
    float: left;
    margin-top: 60px;
    background-color: white;
    border-radius: 5px;
    padding: 40px 25px;
}

.text-box p   {
    color: #33475b;
    font-size: 18px;
    margin-bottom: 20px;
    padding-right: 10px;
}

.text-box h2    {
    color: #33475b;
    font-size: 35px;
    margin-bottom: 15px;
}

.panel1 h3 {
    color: #33475b;
    font-size: 20px;
    margin-bottom: 20px;
}

.panel-twin {
    width: calc(33% - 10px);
    float: left;
    height: 200px;
    background-color: green;
    margin-left: 10px;
    margin-top: 20px;
}

.panel1 img {
    margin-bottom: -5px;
}

.bottom-box li  {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.get-started  {
    padding: 15px 85px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    background-color: #FF7A59;
    color: white;
    float: right;
}
